<template name="Header">
    <div class="Header">
        <div class="color" data-action="pickColor" style="background-color: {{color}}">
            <input class="colorPicker" type="color" value={{color}} />
        </div>
        <button data-action="toggleDrawingMode" class="{{#if isDrawingMode}}active{{/if}}">
      <i class="material-icons">mode_edit</i><span>Draw</span>
    </button>
        <button data-action="remove" disabled="{{#unless isObjectSelected}}disabled{{/unless}}">
      <i class="material-icons">delete</i><span>Remove</span>
    </button>
        <button data-action="clear">
      <i class="material-icons">clear</i><span>Clear</span>
    </button>
        <button data-action="createBoard">
      <i class="material-icons">add</i><span>Create Board</span>
    </button>
        <div class="objectsCount">{{objectsCount}} object(s) on canvas</div>
        {{> loginButtons}}
    </div>
</template>